@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-color: rgb(125, 123, 123);
}

header {
  background-color: rgb(101, 31, 31);
  box-shadow: 6px 2.5px 2px rgb(0, 0, 0);
}
header dt {
  display: inline-flex;
  margin-left: 2em;
  padding-bottom: 1em;
  padding-top: 1em;
}
header .img {
  width: 20px;
  display: inline-block;
  align-items: center;
  margin-right: 7px;
  margin-bottom: 3px;
}
header .cadastro {
  margin-left: 75em;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
}
header .img1 {
  height: 50px;
  width: 20px;
  margin-left: 30px;
  margin-bottom: 10px;
  display: inline-block;
  align-items: center;
}
header a {
  color: rgb(177, 172, 172);
  text-shadow: 1px 1px 1px rgb(42, 41, 41);
  font-family: "Times New Roman", Times, serif;
  text-transform: none;
  text-decoration: none;
}
header a:hover {
  color: rgb(214, 214, 214);
}

main .container {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}
main .card {
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
  width: 500px;
  height: 600px;
  box-shadow: 4px 4px 7px black;
}
main .imagemthomas {
  margin-top: 2em;
  margin-left: 10em;
}
main .tshelby {
  width: 200px;
  display: flex;
  align-content: center;
  position: relative;
}
main .descricao {
  color: white;
  text-align: justify;
  font-size: 14px;
  margin-top: 3em;
  padding-left: 2em;
  padding-right: 2em;
  text-shadow: 0.5px 0.5px;
}
main .page-title {
  margin-top: 2em;
  text-align: center;
}
main .img2 {
  width: 70px;
  height: 90px;
  opacity: 0;
  position: absolute;
  animation-name: animacao;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
main .img3 {
  position: absolute;
  width: 80px;
  height: 90px;
  opacity: 0;
  animation-name: animacao;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
main section {
  overflow: hidden;
}
main .footer2 {
  padding: 15px 20px;
  padding: 20px;
}
main .button1 {
  color: green;
  background: transparent;
  border: 0;
  align-items: center;
  display: flex;
  margin-top: 1em;
  cursor: pointer;
}
main .button2 {
  background: green;
  display: block;
  width: 100%;
  border: 0;
  padding: 15px 0;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgb(46, 44, 44);
}
main .button2:hover {
  background-color: #122a14;
}

table {
  margin-left: 2em;
  margin-top: 8em;
  width: 60%;
  border-collapse: collapse;
}
table thead tr {
  border-bottom: 1px solid #a3a3a3;
}
table thead tr th {
  text-align: left;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: #666;
}
table tbody tr {
  border-bottom: 1px solid #423f3f;
}
table tbody tr:last-child {
  border: 0;
}
table tbody tr td {
  padding: 30px 0;
}

.product {
  display: flex;
  align-items: center;
}
.product .imgc {
  border-radius: 6px;
  width: 100px;
  height: 100px;
}
.product .info {
  margin-left: 20px;
}
.product .name {
  font-size: 20px;
}
.product .category {
  color: #666;
}

select {
  border: 0px solid black;
  border-radius: 4%;
  background-color: #ddd;
  padding: 5px 10px;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
  font-weight: bold;
  text-align: justify;
}

.qty {
  background-color: #ece8e8;
  display: inline-flex;
  padding: 0 0;
  justify-content: center;
  min-width: 60px;
  align-items: center;
  border-radius: 20px;
  height: 30px;
}
.qty span {
  margin: 0 10px;
}
.qty button {
  display: flex;
  background: transparent;
  align-items: center;
  border: 0;
  padding: 0 10px;
  font-size: 20px;
  cursor: pointer;
  height: 100%;
}
.qty button:hover {
  background-color: #ddd;
  border-radius: 20px;
}

.remove {
  background: #ece8e8;
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  cursor: pointer;
}
.remove:hover {
  background-color: #ddd;
  border-radius: 20px;
}

.image0 {
  padding: 0;
  width: 20em;
  margin-top: 9em;
  display: flex;
  position: absolute;
  right: 0;
  opacity: 1;
}

.footer1 {
  margin-top: 25em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  position: relative;
  background-color: black;
  color: white;
  text-align: center;
}
.footer1 .grupofooter {
  display: inline-flex;
}
.footer1 .navegaçao {
  margin-right: 20em;
  margin-bottom: 1.5em;
  text-align: start;
}
.footer1 .gruponavegacao {
  font-size: small;
  margin-top: 2px;
  margin-bottom: 1px;
  text-align: start;
}
.footer1 .redessociais {
  margin-bottom: 2.5em;
  margin-right: 20em;
}
.footer1 .rs {
  text-decoration: none;
  color: #ddd;
}
.footer1 .rs:hover {
  color: #666;
}
.footer1 .gruporedessociais {
  margin-top: 10px;
}
.footer1 .formaspagamento {
  margin-bottom: 1.5em;
}
.footer1 .cartao {
  margin-top: 10px;
}

.copy {
  font-size: small;
}/*# sourceMappingURL=quemsomos.css.map */